<mat-toolbar color="primary">
  <mat-menu #menu="matMenu">
    <a mat-menu-item (click)="menuUploadHandler()">
      <mat-icon>attach_file</mat-icon>
      <span>Upload</span>
    </a>
    <a mat-menu-item (click)="menuRefreshHandler()">
      <mat-icon>refresh</mat-icon>
      <span>Refresh</span>
    </a>
  </mat-menu>
  <span>Decisioner</span>
  <span class="toolbar-spacer"></span>
  <mat-spinner [diameter]="35" color="accent" *ngIf="showSpinner"></mat-spinner>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
