.product-headers-align .mat-expansion-panel-header-title,
.product-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.product-headers-align .mat-expansion-panel-header-title {
  flex: 1;
}

.product-headers-align .mat-expansion-panel-header-description {
  flex: 10;
}

.product-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
}
