<mat-accordion class="product-headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{id}}
      </mat-panel-title>
      <mat-panel-description>
        {{title}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let name of names">{{name}}</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
