<h1 mat-dialog-title>Upload JSON file</h1>
<mat-dialog-content>
  <input accept="application/json" type="file" ng2FileSelect [uploader]="uploader" [disabled]="uploader.queue.length !== 0"/>
  <mat-progress-bar mode="determinate" [value]="progressUploading"
                    *ngIf="uploader.queue.length !== 0"></mat-progress-bar>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onUploadHandler()" [disabled]="uploader.queue.length === 0">Upload</button>
  <button mat-button (click)="onCloseHandler()">Close</button>
</mat-dialog-actions>
